# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
firstInt = 256
secondInt = 256

def check_equality(x,y):
  return x is y

result = check_equality(firstInt,secondInt)
print(result)

Рівні за значенням , та посиланням , якщо значення від -5 до 256. Поза цими значеннями , посилаються на різні обʼєкти

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
print(isinstance(result,bool))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
whole_number = 20
decimal_number = 10.1

def maths(num1, num2, operator):
    if operator == 'add':
        return num1 + num2
    elif operator == 'subtract':
        return num1 - num2
    elif operator == 'multiply':
        return num1 * num2
    elif operator == 'divide':
        if num2 == 0:
            return "Error: Division by zero!"
        else:
            return num1 / num2
    elif operator == 'divide_no_remainder':
        if num2 == 0:
            return "Error: Division by zero!"
        else:
            return num1 // num2
    elif operator == 'module':
        if num2 == 0:
            return "Error: Division by zero!"
        else:
            return num1 % num2
    elif operator == 'exponent':
        return num1 ** num2
    else:
        return "Invalid operator!"


print(maths(whole_number,decimal_number, 'add'))
print(maths(whole_number,decimal_number, 'subtract'))
print(maths(whole_number,decimal_number, 'multiply'))
print(maths(whole_number,decimal_number, 'divide'))
print(maths(whole_number,decimal_number, 'divide_no_remainder'))
print(maths(whole_number,decimal_number, 'module'))
print(maths(whole_number,decimal_number, 'exponent'))

30.1
9.9
202.0
1.9801980198019802
1.0
9.9
13816656360177.273

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [21]:
bool_num = True

print(int(decimal_number))
print(int(whole_number))
print(int(bool_num))

10
20
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [22]:
empty_string = ""
empty_strind_new = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [24]:
string_with_apostrophe = r"This is a string with an apostrophe: '"
string_without_apostrophe = "This is a string without an apostrophe"

print(string_with_apostrophe)
print(string_without_apostrophe)

This is a string with an apostrophe: '
This is a string without an apostrophe

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [25]:
my_surname = "Halyts"
my_string = f"My surname is {my_surname}"

print(my_string)

My surname is Halyts

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [26]:
dog_str = "My dog is crazy"

dog_arr = dog_str.lower().split()

print(dog_arr)

['my', 'dog', 'is', 'carzy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [30]:
list_1 = [0,1,2]
list_2 = list(range(5))

print(len(list_1))
print(len(list_2))

3
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [34]:
list_3 = ["hello"]
list_4 = ["world"]

list_3.extend(list_4)
print(list_3)

['hello', 'world']

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [37]:
list_5 = [[1],[2],[3,4]]

print(list_5[-1][0])

3

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [38]:
list_6 = [1,1.1,"one",True,[1],{"1":1},None,(1,1),1j,False]

print(list_6[2:-2])

['one', True, [1], {'1': 1}, None, (1, 1)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [39]:
one_el = (1)
print(one_el)

1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Вони обидва пронумеровані,послідовні. Кортежі - незмінний тип даних. Кортежі більш ефективні у використанні памяті та швидкості пошуку в них. Зазвичай використовуються, корли дані не будуть змінюватись.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [48]:
tuple_1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3,0.2)
rev_tuple = tuple_1[::-1]
res_rev_tuple = rev_tuple[::2]
print(res_rev_tuple)

(0.2, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [49]:
new_set = set()
new_set.add("a")
new_set.add(1)
print(new_set)

{1, 'a'}

Можна видаляти елементи та додавати нові

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [51]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_1 = set(my_list)
print(set_1)

{1, 2, 67, 8, 9}

Set завжди має унікальні дані

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
difference_set = set1.difference(set2)
intersection_set = set1.intersection(set2)
symmetric_difference_set = set1.symmetric_difference(set2)

print(union_set)
print(difference_set)
print(intersection_set)
print(symmetric_difference_set)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [55]:
my_dict = {}


my_dict[1] = "integer"
my_dict['two'] = "string"
my_dict[3.14] = "float"
my_dict[(1, 2)] = "tuple"

print(my_dict)

{1: 'integer', 'two': 'string', 3.14: 'float', (1, 2): 'tuple'}

Список є мутабельним та не може бути ключем

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [57]:
nested_dict = {
    'key1': 'value1',
    'key2': {
        'inner_key1': 'inner_value1',
        'inner_key2': {
            'inner_inner_key': 'inner_inner_value'
        }
    }
}

inner_inner_value = nested_dict['key2']['inner_key2']['inner_inner_key']

print(inner_inner_value)

inner_inner_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.